.course-path {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    zoom:80%;
  }
  
  .course-path .overlap-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 1081px;
    overflow: hidden;
    width: 1920px;
  }
  
  .course-path .overlap {
    height: 1081px;
    position: relative;
    width: 2091px;
  }
  
  .course-path .background {
    height: 1080px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .course-path .back-universe {
    height: 1081px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .course-path .group {
    height: 60px;
    left: 24px;
    position: absolute;
    top: 46px;
    width: 84px;
  }
  
  .course-path .navbar {
    height: 735px;
    left: 15px;
    position: absolute;
    top: 166px;
    width: 112px;
  }
  
  .course-path .learn {
    background-color: #966bd463;
    border-radius: 26px;
    height: 97px;
    left: 0;
    position: absolute;
    top: 118px;
    width: 112px;
  }
  
  .course-path .div {
    height: 71px;
    left: 24px;
    position: absolute;
    top: 24px;
    width: 65px;
  }
  
  .course-path .icon {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 63px;
  }
  
  .course-path .text-wrapper {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 51px;
  }
  
  .course-path .challenge {
    height: 68px;
    left: 14px;
    position: absolute;
    top: 265px;
    width: 86px;
  }
  
  .course-path .img {
    height: 46px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 57px;
  }
  
  .course-path .text-wrapper-2 {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 48px;
  }
  
  .course-path .ranking {
    height: 75px;
    left: 12px;
    position: absolute;
    top: 383px;
    width: 81px;
  }
  
  .course-path .overlap-group {
    height: 75px;
    position: relative;
    width: 79px;
  }
  
  .course-path .icon-2 {
    height: 55px;
    left: 11px;
    position: absolute;
    top: 0;
    width: 53px;
  }
  
  .course-path .text-wrapper-3 {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 55px;
  }
  
  .physic-page .overlap-group-4 {
    height: 70px;
    left: 11px;
    position: absolute;
    top: 520px;
    width: 77px;
  }
  
  .course-path .icon-3 {
    height: 50px;
    left: 6px;
    position: absolute;
    top: 0;
    width: 63px;
  }
  
  .course-path .text-wrapper-4 {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
  }
  
  .course-path .shop {
    height: 76px;
    left: 0;
    position: absolute;
    top: 659px;
    width: 82px;
  }
  
  .course-path .text-wrapper-5 {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 56px;
  }
  
  .course-path .icon-4 {
    height: 53px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .course-path .home {
    height: 74px;
    left: 7px;
    position: absolute;
    top: 0;
    width: 85px;
  }
  
  .course-path .text-wrapper-6 {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 54px;
  }
  
  .course-path .icon-5 {
    height: 50px;
    left: 18px;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .course-path .gravity {
    height: 328px;
    left: 213px;
    position: absolute;
    top: 585px;
    width: 696px;
  }
  
  .course-path .h-1-wrapper {
    background-image: url(../../assets/island-03-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 328px;
    position: relative;
    width: 694px;
  }
  
  .course-path .h-1 {
    color: #ffffff;
    font-family: "Potta One", Helvetica;
    font-size: 64px;
    font-weight: 400;
    height: 87px;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 70px;
    width: 438px;
  }
  
  .course-path .spped {
    height: 318px;
    left: 1425px;
    position: absolute;
    top: 454px;
    width: 666px;
  }
  
  .course-path .div-wrapper {
    background-image: url(../../assets/group.png);
    background-size: 100% 100%;
    height: 318px;
    position: relative;
    width: 495px;
  }
  
  .course-path .text-wrapper-7 {
    color: #ffffff;
    font-family: "Potta One", Helvetica;
    font-size: 64px;
    font-weight: 400;
    height: 87px;
    left: 57px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 72px;
    width: 438px;
  }
  
  .course-path .light {
    height: 357px;
    left: 835px;
    position: absolute;
    top: 681px;
    width: 794px;
  }
  
  .course-path .overlap-2 {
    background-image: url(../../assets/island-07-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 357px;
    position: relative;
    width: 792px;
  }
  
  .course-path .text-wrapper-8 {
    color: #ffffff;
    font-family: "Potta One", Helvetica;
    font-size: 64px;
    font-weight: 400;
    height: 87px;
    left: 65px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 438px;
  }
  