.physic-course {
    background-color: #ffffff;
    display: absolute;
    flex-direction: row;
    justify-content: left;
    width: 90%;
  }
  
  .physic-course .overlap-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 1081px;
    width: 2422px;
  }
  
  .physic-course .overlap {
    background-image: url(../../assets/x-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1081px;
    position: relative;
  }
  
  .physic-course .group {
    height: 60px;
    left: 34px;
    position: absolute;
    top: 90px;
    width: 84px;
  }
  
  .physic-course .navbar {
    height: 735px;
    left: 24px;
    position: absolute;
    top: 210px;
    width: 112px;
  }
  
  .physic-course .learn {
    background-color: #966bd463;
    border-radius: 26px;
    height: 97px;
    left: 0;
    position: absolute;
    top: 118px;
    width: 112px;
  }
  
  .physic-course .div {
    height: 71px;
    left: 24px;
    position: relative;
    top: 24px;
    width: 65px;
  }
  
  .physic-course .icon {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 63px;
  }
  
  .physic-course .text-wrapper {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 51px;
  }
  
  .physic-course .challenge {
    height: 68px;
    left: 14px;
    position: absolute;
    top: 265px;
    width: 86px;
  }
  
  .physic-course .img {
    height: 46px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 57px;
  }
  
  .physic-course .text-wrapper-2 {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 48px;
  }
  
  .physic-course .ranking {
    height: 75px;
    left: 12px;
    position: absolute;
    top: 383px;
    width: 81px;
  }
  
  .physic-course .overlap-group {
    height: 75px;
    position: relative;
    width: 79px;
  }
  
  .physic-course .icon-2 {
    height: 55px;
    left: 11px;
    position: absolute;
    top: 0;
    width: 53px;
  }
  
  .physic-course .text-wrapper-3 {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 55px;
  }
  
  .physic-course .overlap-group-4 {
    height: 70px;
    left: 11px;
    position: absolute;
    top: 520px;
    width: 77px;
  }
  
  .physic-course .icon-3 {
    height: 50px;
    left: 6px;
    position: absolute;
    top: 0;
    width: 63px;
  }
  
  .physic-course .text-wrapper-4 {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
  }
  
  .physic-course .shop {
    height: 76px;
    left: 0;
    position: absolute;
    top: 659px;
    width: 82px;
  }
  
  .physic-course .text-wrapper-5 {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 56px;
  }
  
  .physic-course .icon-4 {
    height: 53px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 56px;
  }
  
  .physic-course .home {
    height: 74px;
    left: 7px;
    position: absolute;
    top: 0;
    width: 85px;
  }
  
  .physic-course .text-wrapper-6 {
    color: #0fc0f0;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 54px;
  }
  
  .physic-course .icon-5 {
    height: 50px;
    left: 18px;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .physic-course .x {
    height: 170px;
    left: 168px;
    object-fit: cover;
    position: absolute;
    top: 775px;
    width: 159px;
  }
  
  .physic-course .x-level {
    height: 173px;
    left: 456px;
    object-fit: cover;
    position: absolute;
    top: 663px;
    width: 160px;
  }
  
  .physic-course .x-2 {
    height: 168px;
    left: 832px;
    object-fit: cover;
    position: absolute;
    top: 605px;
    width: 166px;
  }
  
  .physic-course .x-3 {
    height: 191px;
    left: 1088px;
    object-fit: cover;
    position: absolute;
    top: 727px;
    width: 190px;
  }
  
  .physic-course .x-4 {
    height: 206px;
    left: 1311px;
    object-fit: cover;
    position: absolute;
    top: 346px;
    width: 192px;
  }
  
  .physic-course .x-5 {
    height: 216px;
    left: 1686px;
    object-fit: cover;
    position: absolute;
    top: 579px;
    width: 201px;
  }
  
  .physic-course .x-6 {
    height: 220px;
    left: 2158px;
    object-fit: cover;
    position: absolute;
    top: 469px;
    width: 204px;
  }
  