.learn{
    background-color: #dbf1ff;
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    padding-left: 100px;
}
.learn h1,h2,h3,ul{
    padding-left: 100px;
  }
.learn h1{
  padding-left: 100px;
  border: 5px solid #4860D4;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  align-items: center;
 
}
  body {
    --nav-width: 70px;

  }
  .learnBox{
    list-style: none;
    font-family:Montserrat ;
    border: 5px solid #4860D4;
    margin-bottom: 2%;
    margin-left: 2%;
    border-collapse: separate;
    border-spacing: 15px;
    background-color: #ffd092;
    float: left;
    width: 20%;
   border-radius: 10px;
  }