/* styles.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity */
    opacity: 0; /* Initial opacity */
    pointer-events: none; /* Allow interactions with underlying elements */
    transition: opacity 0.3s ease-in-out;
  }
  
.overlay.active {
    opacity: 1; /* Opacity when active */
    pointer-events: auto; /* Disable interactions with underlying elements */
  }
  


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.load {
	width: 100px;
	height: 100px;
	margin: 110px auto 0;
	border:solid 10px #f1dbf0;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}




.wrongPass {
    display: none;
    color: red;
    /* Default: Hidden */
    /* Other styling properties */
}

.visible {
    display: block;
    /* Show element */
}

.hidden {
    display: none;
    /* Hide element */
}

.loginClass {
    margin-top: 70px;
    margin-left: 60px;
}

.buttonClass {
    margin-top: 30px;
}

.headera {
    min-height: 100vh;
    width: 100%;
    background-image: url(../../assets/background1.png);
    background-size: cover;
    position: fixed;
    left: 0;
    background-color: #DBF1FF;
}

.headera img {
    width: 450px;
    padding-left: 60px;
    padding-top: 50px;

}

/* .headera p {
    font-family: Montserrat;
    color: #4860D4;
    font-size: 24px;
    font-weight: 900;
    padding-top: 10px;
    padding-left: 60px;
} */

.paragraph {
    font-family: Georgia, sans-serif;
    color: #4860D4;
    font-size: 24px;
    font-weight: 900;
    padding-top: 10px;
    padding-left: 60px;
}

.headera button {
    display: inline-flex;
    text-decoration: none;
    /* font-family: Montserrat; */
    font-weight: 900;
    color: #4860D4;
    position: fixed;
    left: 150px;
    top: 450px;
    border: 5px solid #4860D4;
    border-radius: 20px;
    padding: 12px 34px;

    /* font-size: 25px; */
    background: transparent;
    position: absolute;
    cursor: pointer;

}

.headera button:hover {
    color: #DBF1FF;
    border: 2px solid #4860D4;
    background: #4860D4;
    transition: 0.5s;
}