
.header {
    min-height: 100vh;
    width: 100%;
    background-image:url(./assets/background1.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #DBF1FF;
}
.header img{
    width: 450px;
    padding-left: 60px;
    padding-top: 50px;
   
}
.header p {
    font-family: Montserrat;
    color:  #4860D4;
    font-size: 24px;
    font-weight: 900;
    padding-top: 10px;
    padding-left: 60px;
}
.header button{
    display: inline-flex;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 900;
    color:#4860D4;
    position: fixed;
    left:150px;
    top:450px;
    border: 5px solid #4860D4;
    border-radius: 20px;
    padding: 12px 34px;
   
    font-size: 25px;
    background: transparent;
    position:absolute;
    cursor: pointer;
    
}
.header button:hover{
    color: #DBF1FF;
border: 2px solid #4860D4;
background: #4860D4;
transition: 0.5s;
}