.Background{
    background-color: #DBF1FF;
}
.Section{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 0;

}
.NavSec{
    float: left;
    width:fit-content;
    align-items: baseline;

}
.MainSec{
    float: left;
    width: 95%;

}
.SurfingSec{
    margin-top: 200px;
    display: inline-flex;
}